body{margin: 0;
background-image: url("record.png");
background-repeat: repeat;

}

header {
  color: floralwhite;
  background-color: indigo;
  text-align: center;
}

main {
  background-color: lightgray;
}