body{
  margin: 0;
  background-image: url("record.png");
  background-repeat: repeat;

}

.homepageheader {
  color: floralwhite;
  background-color: indigo;
  text-align: center;
}

main {
  background-color: lightgray;
  padding: 1em;
}