body{
  margin: 0;
}

.homepageBody{
  background-image: url("record.png");
  background-repeat: repeat;
}

.homepageHeader {
  color: floralwhite;
  background-color: indigo;
  text-align: center;
}

.homepageMain {
  background-color: lightgray;
  padding: 1em;
}