body{
  margin: 0;
}

.homepageBody{
  
}

.homepageHeader {
  color: floralwhite;
  background-color: indigo;
  text-align: center;
}

.homepageMain {
  background-color: lightgray;
  padding: 1em;
}